*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    outline: none; 
}

:root{
    --Black :#222;
    --Blue :#58b4ff;
}

.flex-beetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--Blue);

}

body {
    min-height: 100vh;
    background-color: whitesmoke;
}


/*============================================
                Header
=============================================*/

header {
    padding: 15px;
    background-color: var(--Black);
    color: white;
}

header a {
    color: white;
    margin: 0 5px ;
    font-size: 17px;
    cursor: pointer;
}

header a:hover {
    opacity: 0.7;
    transition: all 0.5s ease;
}



/*============================================
                Main - index.html
=============================================*/


.create-poste {
    margin: 20px;
}
.create-poste form {
    flex-direction: column;

}

/*============================================
        LoginPage - login.html,register.html
=============================================*/

.loginmain {
    height: 90vh;
}

.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
.login input {
    padding: 10px;
    border: 1px solid var(--Blue);
    border-radius: 5px;
    margin: 5px 0;
}
.login button {
    padding: 10px;
    border: 1px solid var(--Blue);
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
    border-radius: 10px;
}