<!DOCTYPE html>
<html lang="en">

<head>
    <title>Error Page</title>
</head>

<body>

    <header class="flex-beetween">
        <div>
            <a href="/"><img width="40px" src="../static/images/userbaraxe.png" alt="forum"></a>
            <nav>
                <p>Email :</p>
                <input id="loginemail" type="email" placeholder="Email" required>
                <p>Password :</p>
                <input id="loginpassword" type="password" placeholder="Password">
                <button id="login">Log in</button>
                <a href="/register">Register for your free account!</a>
            </nav>
        </div>
    </header>

    <section class="Error_Page">
        <h1>{{.Error}}</h1>
        <br><br>
        <p>{{.StatusCode}}</p>
    </section>
</body>

</html>