<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>

    <header class="flex-beetween">
        <h1 onclick="window.location.href='/'">Forum</h1>
        <nav>
            <a href="/login">Login</a>
            <a href="/register">register</a>
        </nav>
    </header>



    <main class="main">

        <section class="create-poste flex-center">
            <form class="Create flex-center" action="/api/create" method="post">
                <label>Title</label>
                <input type="text">
                <label for="">Description</label>
                <textarea name=""></textarea>
                <br>
                <button type="submit">Create poste</button>
            </form>
        </section>

    </main>

</body>

</html>