<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <script defer src="../static/js/api/Allposts.js"></script>
    <script defer src="../static/js/api/login.js"></script>
    <script defer src="../static/js/api/createpost.js"></script>
    <link rel="stylesheet" href="../static/style/style.css">
</head>

<body>

    <header class="flex-beetween">
        <div>
            <a href="/"><img width="40px" src="../static/images/userbaraxe.png" alt="forum"></a>
            <nav>
                <p>Email :</p>
                <input id="loginemail" type="email" placeholder="Email" required>
                <p>Password :</p>
                <input id="loginpassword" type="password" placeholder="Password">
                <button id="login">Log in</button>
                <a href="/register">Register for your free account!</a>
            </nav>
        </div>
    </header>

</body>

</html>