<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <script defer src="../static/js/api/Allposts.js"></script>
    <script defer src="../static/js/api/login.js"></script>
    <script defer src="../static/js/api/logout.js"></script>
    <script defer src="../static/js/api/createpost.js"></script>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="../static/images/userbaraxe.png" type="image/x-icon">
</head>

<body>

    <header class="flex-beetween">
        <div>
            <a href="/"><img width="40px" src="../static/images/userbaraxe.png" alt="forum"></a>
            <nav id="nav">
                <p>Email :</p>
                <input id="loginemail" type="email" placeholder="Email" required>
                <p>Password :</p>
                <input id="loginpassword" type="password" placeholder="Password">
                <button id="login">Log in</button>
                <a href="/register">Register for your free account!</a>
            </nav>
        </div>
    </header>


    <main>

        <img src="../static/images/pub.gif">

        <section class="border" id="welcome">
            <div class="header">
                <p>Welcome to forum</p>
            </div>
                <p style="font-size: 13px;padding: 10px;">Make sure to log in to access features such as commenting on posts and liking them.</p>
        </section>

        <section class="border" id="cp"></section>

        <section>

            
        </section>
        
</body>

</html>