<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <script defer type="module" src="../Static/js/api/Allposts.js"></script>
    <script defer type="module" src="../Static/js/api/login.js"></script>
    <script defer type="module" src="../Static/js/api/logout.js"></script>
    <script defer type="module" src="../Static/js/api/createpost.js"></script>
    <script defer type="module" src="../Static/js/api/Likes.js"></script>
    <link rel="stylesheet" href="../Static/styles/style.css">
    <link rel="shortcut icon" href="../Static/images/userbaraxe.png" type="image/x-icon">
</head>

<body>
    <header class="flex-beetween">
        <div>
            <a href="/"><img width="40px" src="../Static/images/userbaraxe.png" alt="forum"></a>
            <nav id="nav">
                <p>Email :</p>
                <input id="loginemail" type="email" placeholder="Email" required>
                <p>Password :</p>
                <input id="loginpassword" type="password" placeholder="Password">
                <button id="login">Log in</button>
                <a href="/register">Register for your free account!</a>
            </nav>
        </div>
    </header>


    <main>

        <noscript>
            <h1>You need to enable JavaScript to run this app.</h1>
        </noscript>

        <img src="../Static/images/pub.gif">

        <section class="border" id="welcome">
            <div class="header">
                <p>Welcome to forum</p>
            </div>
            <p style="font-size: 13px;padding: 10px;">Make sure to log in to access features such as commenting on posts
                and liking them.</p>
        </section>

        <section class="border">
            <div class="header">
                <p>Filters</p>
            </div>
            <div class="filters">
                <p id="myposts">My Posts</p>
                <p id="likedposts">Liked Posts</p>
                <div>
                    <input type="text" placeholder="Filter By Topic" id="tagfilter">
                    <button id="topic"><svg xmlns="http://www.w3.org/2000/svg" height="13px" viewBox="0 -960 960 960"
                            width="13px" fill="#6354bb">
                            <path
                                d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z" />
                        </svg></button>
                </div>
            </div>
        </section>

        <section class="border" id="cp"></section>



        <section class="border">
            <div class="header">
                <p>Forum</p>
            </div>
            <div class="forums-container" id="forums-container"></div>
            <div>
                <button id="previons">previons</button>
                <button id="next">next</button>
            </div>
        </section>



</body>

</html>