<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <script defer type="module" src="../Static/js/api/login.js"></script>
    <script defer type="module" src="../Static/js/api/logout.js"></script>
    <script defer type="module" src="../Static/js/api/Likes.js"></script>
    <script defer type="module" src="../Static/js/api/Post.js"></script>
    <script defer type="module" src="../Static/js/api/Comment.js"></script>
    <link rel="stylesheet" href="../Static/styles/style.css">
    <link rel="shortcut icon" href="../Static/images/userbaraxe.png" type="image/x-icon">
</head>

<body>

    <header class="flex-beetween">
        <div>
            <a href="/"><img width="40px" src="../Static/images/userbaraxe.png" alt="forum"></a>
            <nav id="nav">
                <p>Email :</p>
                <input id="loginemail" type="email" placeholder="Email" required>
                <p>Password :</p>
                <input id="loginpassword" type="password" placeholder="Password">
                <button id="login">Log in</button>
                <a href="/register">Register for your free account!</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="border" id="welcome">
            <div class="header">
                <p>Welcome to forum</p>
            </div>
            <p style="font-size: 13px;padding: 10px;">Make sure to log in to access features such as commenting on posts
                and liking them.</p>
        </section>


        <section class="border">
            <div class="header">
                <p>Post</p>
            </div>
            
            <div class="forums-container" id="post-container"></div>

        </section>

        
        <section class="border" id="comment-component"></section>

        <section class="border">
            <div class="header">
                <p>Comments</p>
            </div>

            <div class="forums-container" id="comment-container"></div>

        </section>


    </main>



</body>

</html>