<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <script defer type="module" src="../static/js/api/login.js"></script>
    <script defer type="module" src="../static/js/api/logout.js"></script>
    <script defer type="module" src="../static/js/api/Likes.js"></script>
    <script defer type="module" src="../static/js/api/Post.js"></script>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="../static/images/userbaraxe.png" type="image/x-icon">
</head>

<body>

    <header class="flex-beetween">
        <div>
            <a href="/"><img width="40px" src="../static/images/userbaraxe.png" alt="forum"></a>
            <nav id="nav">
                <p>Email :</p>
                <input id="loginemail" type="email" placeholder="Email" required>
                <p>Password :</p>
                <input id="loginpassword" type="password" placeholder="Password">
                <button id="login">Log in</button>
                <a href="/register">Register for your free account!</a>
            </nav>
        </div>
    </header>

    <main>
        <section class="border" id="welcome">
            <div class="header">
                <p>Welcome to forum</p>
            </div>
            <p style="font-size: 13px;padding: 10px;">Make sure to log in to access features such as commenting on posts
                and liking them.</p>
        </section>


        <section class="border">
            <div class="header">
                <p>Post</p>
            </div>
            
            <div class="forums-container" id="post-container"></div>

        </section>

        
        <section class="border">
            <div class="header">
                <p>Create New Comment</p>
            </div>
            <div class="fieldsets">
                <div>
                    <fieldset>
                        <legend>Comment Content :</legend>
                        <textarea id="commentcontent" style="resize: none; width: 100%;" rows="5" id="registeremail" ></textarea>
                    </fieldset>
                    <button id="createcomment">Create Comment</button>
                </div>
            </div>
        </section>

        <section class="border">
            <div class="header">
                <p>Comments</p>
            </div>

            <div class="forums-container">
                <div class="forum">
                    <div class="title">
                        <h5>Test</h5>
                    </div>
                    <div class="content">
                        <p>test</p>
                    </div>
                    <div class="reactions">
                        <p class="like"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#222"><path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/></svg><span>200</span></p>
                        <p class="dislike"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#222"><path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"/></svg><span>200</span></p>
                        <p class="comment"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#222"><path d="M240-400h320v-80H240v80Zm0-120h480v-80H240v80Zm0-120h480v-80H240v80ZM80-80v-720q0-33 23.5-56.5T160-880h640q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H240L80-80Zm126-240h594v-480H160v525l46-45Zm-46 0v-480 480Z"/></svg>200</p>
                    </div>
                </div>
            </div>

        </section>


    </main>



</body>

</html>